
.chefsty {
  display: flex;
  flex-direction: column;      /* éléments les uns sous les autres */
  justify-content: flex-start;     /* centre verticalement */
  align-items: center;         /* centre horizontalement */
  height: 100vh;               /* prend toute la hauteur de l'écran */
  text-align: center;
  
}
